{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Polls: {{question.question_text}}</title>

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" -->
    <!-- integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@opentelemetry/web@0.18.0/build/src/index.min.js"></script> -->
    <!-- <script src="{% static 'polls/otel.js' %}"></script> -->
    <script src="{% static 'polls/bundle.js' %}"></script>
</head>

<body>
    <h1>{{ question.question_text }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post" onsubmit="return vote(event)">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
        <input type="submit" value="Vote">
    </form>
</body>

</html>
